:root {
    --1: #e7e7e7;
    --2: #3c096c;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Roboto, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#SectionMap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/* Country Styles */

path:hover {
    fill: var(--2);
}

#SectionTooltipLegend {
    width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Tooltip Styles */

#tooltip {
    padding: 15px;
}

/* Legend Styles */

#legend {
    width: 200px;
    min-height: 200px;
}